.container {
    border: 1px solid #ccc;
    width: 500px;
    padding: 10px;
    margin: 20px auto;
}
.subject {
    color: #ad3000;
    font-weight: 700;
    font-size: larger;
}
ul {
    list-style-type: none;
}
li {
    line-height: 2.0;
}