#header {
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
}

#main {
    height: 500px;
    background-color: azure;
}
    #main-layer1 {
        width: 15%;
        height: inherit;
        background-color: aquamarine;
        float: left;
    }

    #main-layer2 {
        width: 60%;
        height: inherit;
        background-color: cadetblue;
        float: left;
    }

    #main-layer3 {
        width: 25%;
        height: inherit;
        background-color: skyblue;
        float: left;
    }

#footer {
    height: 100px;
    background-color: thistle;
}