ul {
    list-style-type: none;
    padding-left: 10px;
}

li {
    margin: 10px;
}

p {
    font-weight: bolder;
}

fieldset legend {
    font-weight: bold;
}

input[type=number] {
    width: 30px;
    margin-left: 10px;
}

input[type=text], input[type=emil], input[type=tel] {
    width: 300px;
}

#shipping li label {
    width: 80px;
    text-align: left;
    float: left;
}
#button-area {
    margin-top: 20px;
    text-align: center;
}
input[type=submit], input[type=reset] {
    width: 150px;
    height: 40px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #ccc;
    text-align: center;
}