#container {
    width: 480px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}
li {
    margin: 10px;
}

#shipping li label {
    width: 80px;
    text-align: left;
    float: left;
}

input[type=text], input[type=email], input[type=tel] {
    width: 300px;
}
form > div {
    margin-top: 20px;
    --text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}
/* 버튼 (주문하기, 취소하기) 스타일 */
form > div > input {
    width: 150px;
    height: 40px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #fafafa;
    box-shadow: 1px 1px 1px #ccc;
}
